*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.background_1{
    background-image: url("https://scontent.fhan14-2.fna.fbcdn.net/v/t1.15752-9/361565282_1240726216628622_666887481100171438_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=ae9488&_nc_ohc=VaKYZgbjEHIAX-iFujg&_nc_ht=scontent.fhan14-2.fna&oh=03_AdQdo8Z-TjbwUtxr9gVaxKryb07Q-_KTw8Q3vH9Kp7cnPw&oe=64DDA7CD");
}
.background_2{
    padding-left: 200px;
    padding-top: 100px;
}