*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav_left{
    margin-left: 35px;
}
.nav_left > ul{
    list-style-type: none;
}
.nav_left ul li a{
    text-decoration: none;
    display: block;
    color:white;
}
#nav ul li{
    position: relative;
    text-decoration: none;
}
#nav ul li::before {
     content: "";
     position: absolute;
     bottom: -2px;
     height: 3.5px;
     width: 0;
     background-color: #f0ffff;
     border-radius: 50px;
     transition: width 0.3s ease;
}
#nav ul li:hover::before{
    width: 50%;
}
.nav_left ul li{
    color: black;
    display: inline-table;
    width: 110px;
    font-size: 14px;
    height: 30px;
    line-height: 40px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav_left ul li a{
    text-decoration: none;
    display: block;
    color:white;
}
.nav_left ul li:hover{
    cursor: pointer;
    
}
.nav_left ul li > .sub-menu{
    display: none;
    position: absolute;
}
.nav_left ul li:hover .sub-menu{
    display: block;
    
}
#nav a:hover{
    color: black;
}
#nav{
    display: flex;
    position: absolute;
}
.nav_right ul li{
    list-style-type: none;
    display: inline-table;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: white;
    width: 45px
}
.nav_right{
    padding-left: 770px;
}
.hang-sp-1{
    display: flex;
    justify-content: space-around;
    padding-top: 160px;
}
#san-pham .san-pham-1 {
    width: 270px;
    height: 270px;
    position: relative;
}
.san-pham-1 img{
    width: 100%;
    height: 100%;
}
.san-pham-1 .coloden{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all .7s  ease;
}
.san-pham-1 .coloden:hover{
    opacity: 1;
}
#san-pham .san-pham-2 {
    width: 270px;
    height: 270px;
    position: relative;
}
.san-pham-2 img{
    width: 100%;
    height: 100%;
}
.san-pham-2 .sp164{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all .7s  ease;
}
.san-pham-2 .sp164:hover{
    opacity: 1;
}
#san-pham .san-pham-3 {
    width: 270px;
    height: 270px;
    position: relative;
}
.san-pham-3 img{
    width: 100%;
    height: 100%;
}
.san-pham-3 .mau238{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all .7s  ease;
}
.san-pham-3 .mau238:hover{
    opacity: 1;
}
.the-end-1{
    display: flex;
    justify-content: space-around;
    padding-top: 55px;
}
.the-end-2 ul{
    list-style-type: none;
    padding-top: 25px;
}
.the-end-2{
    display: flex;  
}
.the-end-2 ul li{
    padding-bottom: 20px;
}